.fifth-component{
    background-color: rgba(255, 212, 32, 1);
    padding: .5rem;
    position: relative;
    @media(min-width:1201px){
        padding: 0 1rem;
    }
    @media(min-width:1400px){
        padding:unset;
    }
    .contatto-section{s
        position: relative;
        background-color: white;
        border-radius: 12px;
        padding: .5rem;
        z-index: 2;
        @media(min-width:769px){
            padding: 2rem 1rem;
        }
        @media (min-width:1025px){
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            align-items: center;
            padding: 3rem;
        }
        @media(min-width:1201px){
            gap: 4rem;
            padding: 5rem 3rem 0;
        }
        @media(min-width:1400px){
            width: 80%;
            margin: 0 auto;
            top: -170px;
            gap: 5rem;
            padding: 5rem 5rem 0;

        }
        .contatto-image{
            img{
                width: 100%;
                height: 100%;
            }
        }
        .contatto-content{
            h2{
                font-size: 2rem;
                font-weight: 200;
                @media(min-width:1025px){
                    font-size: 2.3rem;
                }
                @media(min-width:1400px){
                    font-size: 3rem;
                    width: 80%;
                }
                @media(min-width:1640px){
                    width:60%;
                }
                span{
                    font-weight: 700;
                }
            }
            p{
                padding: .5rem 0;
                font-weight: 300;
                font-size: 15px;
                line-height: 20px;
                @media (min-width:769px){
                    font-size: 19px;
                    line-height: 30px;
                }
                @media(min-width:1400px){
                    font-size: 16px;
                    line-height: 27px;
                }
                @media(min-width:1640px){
                    padding: 2rem 0 1rem;
                }
            }
            .form{
                display: grid;
                grid-template-columns:  250px;
                padding: 1rem 0;
                gap: .5rem;
                @media(min-width:400px){
                grid-template-columns:  300px;
                padding: 1.5rem 0;
                }
                @media(min-width:481px){
                    grid-template-columns: 220px 220px;
                    gap: .7rem;
                }
                @media(min-width:1201px){
                    grid-template-columns: 1fr 1fr;
                }
                input{
                    all: unset;
                    padding:.5rem;
                    background-color: rgba(246, 246, 246, 1);
                    border-radius: 6px;
                    font-weight: 600;
                    @media(min-width:400px){
                        padding: .9rem;
                    }
                    @media(min-width:1025px){
                        padding: 1rem;
                    }
                }
            }
            .checkbox{
                padding: 1rem 0;
                line-height: 20px;
                @media(min-width:1025px){
                    line-height: 25px;
                }
                @media(min-width: 1400px){
                    padding: unset;
                }
                @media(min-width: 1604px){
                    padding: 1rem 0;
                }
            }
            button{
                all: unset;
                cursor: pointer;
                text-align: center;
                margin: 1rem 0;
                background-color: rgba(255, 212, 32, 1);
                padding: .7rem 2rem;
                border-radius: 6px;
                font-size: .8rem;
                font-weight: 500;
                transition: background-color 1s ease-out 100ms;
                filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.25));
                &:hover{
                    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.096);
                    background-color: rgb(245, 190, 7);
                }
                @media(min-width:400px){
                    padding: .9rem 4rem;
                }
                @media(min-width:1025px){
                    width: 93%;
                    font-weight: 700;
                    padding: 1rem;

                }
            }
        }
    }
    .footer-back-image{
        position: absolute;
        top: 0;
        left: -50px;
        img{
            width: 100%;
            height: 100%;
        }
        @media(min-width:1201px){
            width: 70%;
        }
    }
    .arrow{
        cursor: pointer;
        text-align: center;
        padding: 2rem 0;
        @media(min-width:1640px){
            padding: unset;
            padding-bottom: 2rem;
        }
        i{
            border-radius: 10px;
            font-size: 2.3rem;
            color: white;
            padding: .5rem .6rem;
            background: rgba(7, 18, 33, 1);
        }
    }
}
