.first-component{
    background-color: rgba(255, 212, 32, 1);
    @media(min-width:1201px){
        padding: 1rem 0;
    }
    .menu-section{
        padding: .5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:1rem;
        @media (min-width:1400px){
            padding: 1rem 82px;
        }
        .logo-img{
            cursor: pointer;
            width: 22%;
            @media(min-width:481px){
                width: 15%;
            }
            @media (min-width:769px){
                width: 12%;
            }
            @media (min-width:1025px){
                width: 8%;
            }
            @media(min-width:1201px){
                width: 6%;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
        .menu-center-section{
            display: none;
            position: relative;
            @media (min-width:1201px){
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
            }
            h6{
                font-size: 12px;
                color: white;
                padding: .5rem;
                border: 1px solid rgba(7, 18, 33, 1);
                background: linear-gradient(90deg, #071221 24.47%, #384E6B 114.22%);;
                border-radius: 5px;
                z-index: -1;
                font-family: Roboto;
                font-weight: 800;
                @media(min-width:1201px){
                    font-weight: 800;
                    font-size: 12px;
                    line-height: 10px;
                    display: flex;
                    align-items: center;
                    padding: 12px;
                }
                @media(min-width:2560px){
                    font-size: 17px;
                }
                .top-arrow{
                    padding: 0 13px;
                }
                .fifty-percent{
                    padding-left: 46px;
                    font-weight: 900;
                    font-size: 16px;
                    line-height: 10px;
                }
            }
            .right{
                box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.096);
                margin: -1px;
                padding: 1.2rem;
                background: #FFFFFF;
                opacity: 0.3;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
            }
            i, span{
                color: rgba(255, 212, 32, 1);
            }
            i{
                font-size: 1rem;
            }
            span{
                padding-left: 1rem;
            }
         }
        .menu-button{
            cursor: pointer;
            button{
                all: unset;
                font-size:10px;
                font-weight: 600;
                border: 2px solid black;
                padding: .4rem;
                border-radius: 6px;
                @media (min-width:769px){
                font-size:14px;
                }
                @media(min-width:1201px){
                    padding: .4rem 1rem;
                    font-weight: 700;
                }
                @media(min-width:2560px){
                    font-size: 17px;
                }
                &:hover{
                    background-color: black;
                    color: rgba(255, 212, 32, 1);
                    
                }
            }
        }
    }//menu section ends
 }